# Random Forest x IRIS

In [5]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

### Importer le dataset IRIS

In [18]:
#charger les données dans le drive : Iris
iris = pd.read_csv("iris.csv")

#vérifier si tous les individus ont bien un prix 
iris.dropna(axis=0,inplace=False)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

### Faite un dataFrame et renommer les colonnes

In [20]:
iris_new = iris.rename(columns = {'sepal_length': 'longueur_sepale', 'sepal_width': 'largeur_sepale', 'petal_length': 'longueur_petale', 'petal_width': 'largeur_petale', 'species': 'espece'})

In [21]:
iris_new

,longueur_sepale,largeur_sepale,longueur_petale,largeur_petale,espece
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

### Définir les variables features et la target & effectuer un split

In [22]:
features = iris_new.columns.values ; features

array(['longueur_sepale', 'largeur_sepale', 'longueur_petale',
       'largeur_petale', 'espece'], dtype=object)

In [17]:
target =

SyntaxError: invalid syntax (1535300224.py, line 1)

### Entrainer le classifieur

### Afficher l'accuracy de votre classifieurs

### Analyser votre classifieur, que voyez vous ?

### Afficher les features importances

### Afficher graphiquement les features importances

### Entrainer votre classifieurs avec moins de features

### Que constatez vous ?